
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}



<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="~/cssAbout/bootstrap.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="~/cssAbout/style.css">
<link rel="stylesheet" type="text/css" href="~/cssAbout/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="~/cssAbout/nivo-lightbox/default.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">


<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Our Story</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 text-center"> <img src="~/images/about.jpg" class="img-responsive" alt=""> </div>

            <div class="col-xs-12 col-md-6">
                <div class="about-text">
                    <h3>The Studio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
                    <h3>How We Work</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Section -->
@*<div id="services">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 section-title text-center">
            <h2>Our Services</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 service">
                <img src="~/images/residential-design.jpg" class="img-responsive" alt="Project Title">
                <h3>Residential Design</h3>
                <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
            </div>
            <div class="col-xs-12 col-sm-4 service">
                <img src="~/images/office-design.jpg" class="img-responsive" alt="Project Title">
                <h3>Office Design</h3>
                <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
            </div>
            <div class="col-xs-12 col-sm-4 service">
                <img src="~/images/commercial-design.jpg" class="img-responsive" alt="Project Title">
                <h3>Commercial Design</h3>
                <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
            </div>
        </div>
    </div>
</div>*@

<!-- Team Section -->
<div id="team" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 section-title">
                <h2>Meet the Team</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
            </div>
            <div id="row">
                <div class="col-md-3 col-sm-6 team">
                    <div class="thumbnail">
                        <img src="~/images/member1.jpg" alt="..." class="team-img">
                        <div class="caption">
                            <h3>John Doe</h3>
                            <p>Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 team">
                    <div class="thumbnail">
                        <img src="~/images/member1.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Mike Doe</h3>
                            <p>Senior Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 team">
                    <div class="thumbnail">
                        <img src="~/images/member1.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Jane Doe</h3>
                            <p>Senior Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 team">
                    <div class="thumbnail">
                        <img src="~/images/member1.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Karen Doe</h3>
                            <p>Project Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

