
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<style>

    body {
        background-color: #F5F5F5;
    }
    img{
        border-radius:10px;
    }

    .about_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 75px;
        margin-top: 50px;
        font-size: large;
    }
    .speach{
        margin-top:35px;
        text-align:center;

    }
    .thanks{
        text-align:center;
        margin-top:260px;
    }


</style>


<section class="about_container" >
    <div class="col-md-5">
        <img src="~/Images/First-About.jpg" style="width:100% ; height:400px" />

    </div>
    <div class="speach col-md-5">
        <h3>Our mission</h3>
        Welcome to Gifty Website, your one-stop-shop for unique and thoughtful gifts for every occasion. At Gifty,
        we believe that giving a gift should be a joyous and meaningful experience, and we're passionate about helping our customers find
        the perfect gift for their loved ones. <br /> <br />

        Our mission is to offer a carefully curated selection of high-quality gifts that are both beautiful and functional.
        Whether you're shopping for a birthday, anniversary, wedding, or any other special occasion, we've got you covered.
        Our products are sourced from around the world and are chosen for their beauty, durability, and uniqueness.



    </div>
    <div class="speach col-md-5">
        <h3>Our Services</h3>
        We take customer service seriously, and our friendly and knowledgeable staff is always available to help you with any questions or concerns you may have.
        We're committed to making sure that every customer is completely satisfied with their purchase,
        and we offer hassle-free returns and exchanges if for any reason you're not happy with your order. <br /> <br /> 


        

    </div>
    <div class="col-md-5"> 
                           <img src="~/Images/About2.jpg"  style="width:100% ; height:400px"/>
    </div>
    <div class="col-md-10" style="background-image: url('../../images/thanks.jpeg'); height:460px">
        
        @*<img src="~/Images/thanks.jpeg" />*@
        <p class="thanks">Thank you for choosing Gifty for your gift-giving needs. <br />
        We're honored to be a part of your special moments, and we look forward to serving you for years to come.</p>
    </div>
</section>