@model IEnumerable<Project_10.Models.Order>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}



<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrapcss">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>

        body {
            background: -webkit-linear-gradient(left,#f2f5fa, #b3b1b2);
        }

        .emp-profile {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

    </style>



</head>
<body>
    <form id="form1" runat="server">
        <div>



            <div class="container emp-profile">

              
                <div class="heading_container heading_center">
                    <h2>
                        Previous <span>Orders</span>
                    </h2>
                </div> 
                <br /> <br />

                <table style="width:100%" class="table">
                    <tr class="table-dark">
                        <th >Product Name</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>

                    @{
                        Project_10.Models.Project10Entities db = new Project_10.Models.Project10Entities();
                        string email = User.Identity.Name;
                        var customerEmail = db.Customers.Where(x => x.CustomerEmail == email).FirstOrDefault();
                        var orders = db.Orders.Where(x => x.email == email).ToList();

                        foreach (var item in orders)
                        {
                            var y = db.Order_Details.Where(x => x.OrderId == item.OrderId).ToList();
                            foreach (var item2 in y)
                            {


                                <tr>
                                    <td>@item2.Product.ProductName</td>
                                    <td>@item2.Quantity</td>
                                    <td>@item.totalAmount  JOD</td>

                                </tr>


                            }

                        }

                    }
                </table>
            </div>


            </div>

       
    </form>
</body>
</html>


